body {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b4d8e6;
  width: 100vw;
  min-height: 100vh;
}

.main-title {
  font-size: 1.8em;
  margin: 0;
  text-align: center;
  padding: 0 1em 0 1em;
  margin: 1em 0 0.5em 0;
}

p {
  text-align: center;
  padding: 0 1em 0 1em;
  margin: 0 0 1.6em 0;
  color: #646464;
  font-weight: 600;
}

/*-----------category selection styles--------------*/

.cat-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-selection {
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  height: 44px;
  background-color: white;
  margin: 0 0 1em 0;
}

.cat-selection:last-of-type {
  margin: 0 0 1.6em 0;
}

label {
  display: flex;
  align-items: center;
  justify-self: start;
  width: 280px;
  color: #797878;
  cursor: pointer;
  font-weight: 600;
}

/*--------custom checkbox styles--------*/

label > span::before {
  justify-self: center;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(./img/rectangle-copy-26.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  margin: 0 1em 0 1em;
}

label > input[type=checkbox] {
  display: none;
}

label > input[type=checkbox]:checked + span::before {
  background-image: url('./img/path-2-copy@3x.png');
  background-size: 70%;
  background-position: center;
  background-color: #8bb756;
}

label > input[type=checkbox]:checked + span {
  color: #8bb756;
}

/*-------- end custom checkbox styles--------*/

.cat-selection img {
  position: absolute;
  right: 1em;
}

button {
  width: 280px;
  height: 44px;
  background-color: #e30613;
  color: white;
  border-style: none;
  margin: 0 0 1em 0;
}

/*---------------extra categories-------------*/

.extra-cat {
  display: none;
}

button:hover {
  cursor: pointer;
}

.show-more-arrow {
  margin: 0 0 0 1em;
}

/*----------------signup form----------------*/

.newsletter-signup {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.signup-input {
  height: 50px;
  width: 252px;
  margin: 0 0 1em 0;
  padding: 0 1em 0 1em;
  border-style: none;
}

.privacy-policy-wrapper {
  display: flex;
  align-items: flex-start;
  width: 280px;
  margin: 0 0 1.6em 0;
}

.privacy-policy-label {
  width: 18px;
}

.privacy-policy-label span::before {
  margin: 0 1.5em 0 0;
}

.privacy-policy-wrapper p {
  width: 250px;
  padding: 0;
  margin: 0 0 0 1em;
  text-align: start;
}

.privacy-policy {
  text-decoration: underline;
  cursor: pointer;
}

/*--------error message styles---------*/

.err-message {
  
  display: none;
}

.show-err-message {
  color: #e30613;
  display: block;
}

/*------------signup success styles---------*/

.signup-success {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #c2d051;
}

.signup-success h1 {
  font-size: 2.5em;
  color: white;
}

.signup-success h2 {
  width: 60%;
  text-align: center;
  margin: 0 0 1em 0;
}

.success-img {
  max-width: 40%;
  height: auto;
}

/*-------------MEDIA QUERIES-----------------*/

@media (min-width: 768px) {

  .cat-select-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cat-selection {
    margin: 0 1em 1em 0;
  }

  .extra-cat {
    display: flex;
  }

  .extra-categories {
    display: none;
  }

  .newsletter-signup {
    display: block;
    width: 100%;
  }

  .newsletter-signup form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .signup-input {
    margin: 0 1em 1em 0;
  }

  input[type=email] {
    width: 40%;
  }

  button {
    width: 20%;
    height: 50px;
  }

  .privacy-policy-wrapper {
    align-items: center;
    width: 60%;
  }

  .privacy-policy-wrapper p {
    width: 100%;
  }

  /*-------------signup screen------------*/
  .signup-success h1 {
    width: 50%;
    text-align: left;
    font-size: 3em;
    margin: 0 0 1em 4.5em;
  }
  
  .signup-success h2 {
    width: 50%;
    font-size: 2em;
    margin: 0 0 3em 6.5em;
    text-align: left;
  }
  
  .success-img {
    position: absolute;
    align-self: flex-start;
    width: 20%;
    height: auto;
    left: 6em;
  }
  /*-------------signup end------------*/

}